.categories {
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  text-align: center;
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 50px;
}

.cat-2 {
  padding-top: 30px;
}

.but {
  margin: 30px;
  width: 150px;
  height: 80px;
}

.share-icons {
  position: relative;
  box-shadow: inset 0 -6px 10px -8px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.share-icons__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  transition: 1s !important;
  transition: transform 2s, filter 0.2s;
  transition-timing-function: ease-in-out;
}
.share-icons__block-left,
.share-icons__block-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  transition: 1s;
}
.share-icons__block-left {
  -webkit-clip-path: inset(0 50% 0 0);
  clip-path: inset(0 50% 0 0);
}
.share-icons__block-right {
  -webkit-clip-path: inset(0 0 0 50%);
  clip-path: inset(0 0 0 50%);
}
.share-icons__item {
  padding: 0.75rem;
}

/* .share-icons__block .share-icons__block{
    transition: z-index 1s ease-in-out 3s;
  } */
.share-icons:hover .share-icons__block {
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}

.share-icons:hover .share-icons__block-left {
  transform: translateX(-50%) scale(1.2);
}
.share-icons:hover .share-icons__block-right {
  transform: translateX(50%) scale(1.2);
}

.share-icons:hover .share-icons__block-left,
.share-icons__block-right {
  position: absolute;
}

.navbar {
  height: 10vh;
}

nav {
  z-index: 1;
  width: 100%;
}

.nav-item {
  display: inline-block !important;
}

.allInfluencers {
  /* width: 100%; */
  min-width: 100vw !important;
  overflow-x: hidden !important;
  height: 100vh !important;
  position: absolute;
  padding-top: 35px;
  bottom: 0;
  background-color: rgb(245, 246, 250);
}

.breadcrumb-item a {
  list-style: none !important;
  color: blueviolet;
}

.table_influencer {
  max-width: 90vw !important;
  background-color: white;
  margin: 50px;
}

.table_influencer h2 {
  display: inline-block;
}

.table_influencer th td {
  width: 400px !important;
}

.influencers-top {
  padding: 50px;
}

.influencer-table {
  margin: 40px !important;
  overflow-x: hidden !important;
  margin-top: 30px;
}

.table-secondary th {
  font-weight: 500;
}

.ApplyForm {
  width: 50%;
  margin: auto;
}

.ApplyForm h1 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.ApplyForm p {
  font-size: 12px;
}

.category .form-check label {
  font-size: 12px;
  padding-bottom: -25px;
}

.ApplyForm button {
  margin-left: 40%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.login {
  justify-content: center;
  height: 100vh;
  background-color: white;
  padding: 25px;
  max-width: 400px;
  margin: auto;
}

.login input:focus {
  outline: none !important;
}

.login input[type="text"] {
  padding-left: 30px;
  background-image: url("../images/worker.png") !important;
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  /* background: transparent; */
  border: none;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 0px;
}

.login input[type="email"] {
  padding-left: 30px;
  background-image: url("../images/login.png") !important;
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  /* background: transparent; */
  border: none;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 0px;
}

.login input[type="password"] {
  padding-left: 30px;
  background-image: url("../images/locksmith.png") !important;
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  /* background: transparent; */
  border: none;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 0px;
}

.login button {
  background-color: #ff213f;
  border: none !important;
  /* background: linear-gradient(#000dc4,#f0d529,#13c2b6,); */
}

.signupLink {
  padding: 15px;
  text-decoration: none !important;
  text-align: center !important;
  color: rgb(98, 96, 236) !important;
}

.signupLink:hover {
  color: blue !important;
}

a {
  color: black !important;
}

.card-box {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
}

.blogs {
  padding-top: 20px;
  background-color: #d6d6d6;
  bottom: 0;
}

.greeting {
  display: inline-block;
  padding-left: 5%;
  padding-top: 100px;
}

.greeting p {
  font-size: 25px;
}

.greetingImage {
  float: right;
  padding-top: 65px;
  margin-right: 93px;
}

.greetingImage img {
  height: 250px;
  width: 275px;
}

.updates {
  padding-left: 3%;
  margin-right: 35% !important;
}

.card {
  border-radius: 0;
}

@media only screen and (max-width: 907px) {
  .greeting {
    display: block;
    /* margin: auto; */
    text-align: center;
    padding-left: 0;
  }
  .greetingImage {
    float: none;
    display: block;
    text-align: center;
    margin: auto;
  }
  .updates {
    justify-content: center;
    padding: 5%;
    padding-left: 7%;
    margin: auto !important;
  }
}

.overview {
  display: inline-block;
  background-color: white;
  width: 45vw;
  margin-top: 25px;
  margin-left: 5%;
  padding: 15px;
  justify-content: left;
  /* height: 20vh !important; */
}

.visitors {
  display: inline-block;
  background-color: white;
  width: 30vw;
  margin: 20px;
  padding: 15px;
}

@media only screen and (max-width: 889px) {
  .overview {
    display: block;
    margin: auto;
    width: 80vw;
  }
  .visitors {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 80vw;
  }
}

.products {
  overflow-x: hidden !important;
  width: 80vw;
  margin-left: 3%;
  /* padding: 15px; */
  justify-content: left;
  padding: 25px;
}

.card {
  margin: 20px;
  margin-right: 0px;
  padding: 0;
  width: 17vw !important;
}

.card img {
  border-radius: 50% !important;
  /* overflow: hidden; */
  object-fit: contain;
  box-sizing: border-box;
  margin: 10%;
}
.card-img-top {
  padding: 0 !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  width: 60%;
}
.card:hover .card-img-top {
  border: 2px solid rgb(28, 211, 141);
}

.card:hover .card-title {
  color: rgb(28, 211, 141);
}

.price {
  width: 50%;
  height: 50px !important;
  display: inline-block;
  border-right: 2px solid rgb(245, 246, 250);
  border-top: 2px solid rgb(245, 246, 250);
}

.sale {
  width: 50%;
  height: 50px !important;
  display: inline-block;
  border-left: 2px solid rgb(245, 246, 250);
  border-top: 2px solid rgb(245, 246, 250);
}

@media only screen and (min-width: 637px) and (max-width: 1125px) {
  .card {
    width: 30vw !important;
  }
  .sale {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 381px) and (max-width: 637px) {
  .card {
    width: 50vw !important;
  }
  .sale {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 381px) {
  .card {
    width: 65vw !important;
  }
}

.bi-plus-circle-fill {
  color: rgb(22, 190, 106);
}

.bi-question-circle {
  color: gainsboro;
}

.bi-app-indicator {
  color: gainsboro;
}

.content {
  padding: 0;
  padding-top: 0px !important;
}

#sidebar {
  background-color: rgb(11, 11, 44) !important;
  max-width: 13vw;
}

/* @media only screen and (max-width)
 #sidebar{
  b
} */

#sidebar .highlight {
  color: rgb(28, 211, 141) !important;
}

#sidebar i {
  margin: 5px;
  margin-left: -9px !important;
  margin-right: 24px !important;
}

.py-3 {
  padding-bottom: 0 !important;
}

.nav-link {
  color: white !important;
}

.feed {
  flex: 0.6;
  margin: 0 20px;
  max-width: 90%;
  /* margin-top: 20px; */
}

@media only screen and (max-width: 1220px) {
  .side-text {
    display: none !important;
  }

  #sidebar li span {
    display: none !important;
  }
  #sidebar {
    max-width: 15vh;
  }
  #sidebar i {
    margin-left: 10px !important;
  }
  #submenu2 {
    padding-left: 13px;
  }
  #submenu3 {
    padding-left: 13px;
  }
}

@media only screen and (max-width: 700px) {
  .inputOption {
    display: block !important;
    width: 50% !important;
  }
  .feed {
    width: 80%;
  }

  #submenu2 {
    padding-left: 11px;
  }
  #submenu3 {
    padding-left: 11px;
  }

  .greeting {
    margin-top: -30px;
    margin-bottom: -30px;
  }
}

@media only screen and (max-width: 490px) {
  .overview {
    display: block;
    margin: auto;
    width: 67vw;
  }

  .overview span {
    margin: 10px;
  }

  .visitors {
    display: block;
    margin: auto;
    width: 67vw;
  }

  .visitors span {
    margin: 10px;
  }

  .greetingImage {
    margin: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .overview {
    margin-right: 20px;
  }
  .visitors {
    margin-right: 20px;
  }

  .feed {
    width: 85%;
  }
  .feed__inputContainer h4 {
    font-size: 13px;
  }
  .inputForm {
    width: 90%;
  }
  .navinternal {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  #sidebar {
    width: 15vw;
  }
  #sidebar i {
    margin-left: 20px !important;
  }

  #submenu2 {
    padding-left: 22px;
  }
  #submenu3 {
    padding-left: 22px;
  }
  .overview {
    margin-right: 36px;
  }
  .visitors {
    margin-right: 36px;
  }

  .greeting {
    margin-top: -80px;
    margin-bottom: -49px;
  }
}

.feed__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}

.inputOption {
  width: 22%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 5px;
}

.event-form {
  max-width: 60%;
}
@media only screen and (max-width: 420px) {
  .greeting h2 {
    font-size: 18px;
  }
  .greeting p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 380px) {
  .navinternal {
    width: 80%;
  }

  .greetingImage img {
    width: auto;
  }
  .greetingImage {
    margin-left: 20px;
  }
  .feed__inputContainer h4 {
    font-size: 11px;
  }
  .feed {
    width: 75%;
  }
}
